<template>
  <div>
    <Carousel
      class="mt-n3"
      :items="carouselItems"
      :reversable="$vuetify.breakpoint.mdAndUp"
    >
      <template #content="{ item }">
        <FollowCarouselCard :item="item" />
      </template>
    </Carousel>
  </div>
</template>

<script>
export default {
  name: 'GalleriesPage',
  data() {
    const now = new Date()
    return {
      carouselItems: [
        {
          title: 'Adelson Galleries',
          subTitle: 'Current Show',
          description: 'Lauren Pearce: Where We Wither, We Also Bloom',
          place: 'Palm Beach',
          started_at: this.getTimeMMDD(now.toDateString()),
          due_at: this.getTimeMMDD(
            new Date(now.setMonth(now.getMonth() + 2)).toDateString()
          ),
          image_url:
            'https://d7hftxdivxxvm.cloudfront.net/?resize_to=height&height=500&quality=80&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F1YUlPZMM20w-6TYVvQcKEQ%2Fnormalized.jpg',
        },
        {
          title: 'Artch Gallery',
          subTitle: 'Current Show',
          description: 'Advancement of Intention',
          place: 'Online Exclusive',
          started_at: this.getTimeMMDD(now.toDateString()),
          due_at: this.getTimeMMDD(
            new Date(now.setMonth(now.getMonth() + 2)).toDateString()
          ),
          image_url:
            'https://d7hftxdivxxvm.cloudfront.net/?resize_to=height&height=500&quality=80&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FljCsX1rIE6GIEAQiT4STsQ%2Fnormalized.jpg',
        },
        {
          title: 'Seasons LA',
          subTitle: 'Current Show',
          description: 'Hannah Lupton Reinhard - Beshert: Beholden',
          place: 'Los Angeles',
          started_at: this.getTimeMMDD(now.toDateString()),
          due_at: this.getTimeMMDD(
            new Date(now.setMonth(now.getMonth() + 2)).toDateString()
          ),
          image_url:
            'https://d7hftxdivxxvm.cloudfront.net/?resize_to=height&height=500&quality=80&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FxzQAr6oEEiuH_E8RE4ih5g%2Fnormalized.jpg',
        },
      ],
    }
  },
  methods: {
    getTimeMMDD(time) {
      const arr = time.split(' ')
      return arr[1] + ' ' + arr[2]
    },
  },
}
</script>
