html {
  overflow-y: auto !important;
}

.v-divider {
  background-color: var(--v-accent-base);
}

.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.bg-gradient {
  background-color: var(--v-primary-base);
  background-image: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}
.text-gradient,
.text-gradient-hover:hover {
  transition: 0.1s;
  color: var(--v-primary-base);
  /* Create the gradient. */
  background-image: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  ) !important;

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.btn-text-black {
  .v-btn__content {
    color: rgba(0, 0, 0, 0.85);
  }
  // &:before {
  //   background-color: initial;
  // }
}

.scale-effect {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(0.95);
  }
}
