// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Ubuntu';
$btn-text-transform: capitalize !default;

$btn-font-weight: 700;
$card-text-font-weight: 500;
$list-item-dense-title-font-weight: 700;

$font-size-root: 14px;
$input-font-size: 12px;
$label-font-size: 12px;
$alert-font-size: $font-size-root;
$messages-line-height: 20px;
$text-field-details-margin-bottom: 12px;
$textarea-padding: 0 0 8px 0;
// $input-label-height: 20px;
$input-max-height: 30px;
// $text-field-active-label-height: 12px;
$slider-track-width: 6px;
$slider-track-border-radius: 5px;
$slider-thumb-size: 15px;

$card-title-word-break: 'break-word';

// pagination
$pagination-item-font-size: 12px;
$pagination-item-height: 25px;
$pagination-navigation-width: 25px;
$pagination-item-min-width: 25px;
// $list-item-dense-title-font-weight: 400;
// $line-height-root: 30px;

$headings: (
  'h1': (
    'weight': 400,
  ),
  'h2': (
    'weight': 400,
  ),
  'h3': (
    'weight': 500,
  ),
  'h4': (
    'weight': 500,
  ),
  'h5': (
    'weight': 500,
  ),
  'h6': (
    'weight': 600,
  ),
  'subtitle-1': (
    'size': 14px,
    'weight': normal,
  ),
  'subtitle-2': (
    'size': 13px,
    'weight': 600,
  ),
  'body-1': (
    'size': 14px,
    'weight': 500,
  ),
  'body-2': (
    'size': 13px,
    'weight': 500,
  ),
  'button': (
    'size': 13px,
    'weight': 600,
  ),
  'caption': (
    'size': 12px,
    'line-height': 1rem,
  ),
);

// flat design
$border-radius: 0px;
$card-elevation: 0 !default;
$card-border-radius: $border-radius !default;
$sheet-border-radius: $border-radius !default;
$dialog-border-radius: $border-radius !default;
$app-bar-elevation: 0 !default;
$menu-content-elevation: 1;
$dialog-elevation: 5;
$data-table-expanded-content-box-shadow: none;
