<template>
  <v-card>
    <v-card-text>
      <v-img
        class="mb-5"
        :max-width="maxWidth"
        :max-height="maxHeight"
        :src="item.image_url"
      ></v-img>
      <FollowCard :item="item" :mx="'70px'" />
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: 'AristCard',
  props: {
    item: {
      type: Object,
      required: true,
    },
    maxHeight: {
      type: [String, Number],
      default: undefined,
    },
    maxWidth: {
      type: [String, Number],
      default: undefined,
    },
  },
}
</script>

<style></style>
