<template>
  <svg viewBox="0 0 800 600">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="68%" class="text--line2">
        ART RATE
      </text>
    </symbol>

    <g class="g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>
</template>
<script>
export default {
  name: 'ArtRateTextComponent',
}
</script>
<style lang="scss" scoped>
$colors: #cd6109, #7a5171, #2f4858, #057b7b, #cd8c09, #c45259, #63baab;

.text--line {
  font-size: 0.5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

$max: 5;
$stroke-step: 5%;
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 5px;

  animation: stroke-offset 5s linear;

  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);

    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
    }
  }
}

@keyframes stroke-offset {
  40% {
    stroke-dashoffset: $stroke-step * $max;
    stroke-dasharray: 0 $stroke-step * $max * 2;
  }
  80% {
  }
}
</style>
