<template>
  <div v-if="length > 0">
    <v-carousel
      v-model="currentSlide"
      :show-arrows="false"
      hide-delimiters
      height="auto"
    >
      <v-carousel-item v-for="(item, i) in items" :key="i">
        <v-row no-gutters>
          <v-col cols="12" :md="canBeWide(item) ? 12 : 6" order="2">
            <v-img :src="item.image_url"></v-img>
          </v-col>
          <template v-if="canBeWide(item)">
            <slot name="content" :item="item" :wide="canBeWide(item)"> </slot>
          </template>
          <template v-else>
            <v-col cols="12" md="6" :order="reversable && i % 2 ? 3 : 1">
              <slot name="content" :item="item"> </slot>
            </v-col>
          </template>
        </v-row>
      </v-carousel-item>
    </v-carousel>
    <div
      v-if="length > 1"
      class="mt-4 d-flex align-center justify-space-between"
    >
      <div class="carousel-dots d-flex align-center">
        <div
          v-for="(item, i) in items"
          :key="i"
          style="cursor: pointer"
          class="carousel-dot mx-1 flex-grow"
          @click="currentSlide = i"
        >
          <div
            :class="{
              'grey lighten-4': i != currentSlide,
              'bg-gradient': i == currentSlide,
            }"
          ></div>
        </div>
      </div>
      <div class="">
        <v-icon @click="prevSlide">mdi-chevron-left</v-icon>
        <v-icon @click="nextSlide">mdi-chevron-right</v-icon>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CarouselComponent',
  props: {
    items: {
      type: Array,
      required: true,
    },
    height: {
      type: [String, Number],
      default: 450,
    },
    reversable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      activeBtn: null,
      currentSlide: 0,
    }
  },
  computed: {
    length() {
      return this.items?.length || 0
    },
    smAndDown() {
      return this.$vuetify.breakpoint.smAndDown
    },
    mdAndUp() {
      return this.$vuetify.breakpoint.mdAndUp
    },
    smOnly() {
      return this.$vuetify.breakpoint.smOnly
    },
    xsOnly() {
      return this.$vuetify.breakpoint.xsOnly
    },
  },
  methods: {
    nextSlide() {
      this.currentSlide =
        this.currentSlide >= this.length ? 0 : this.currentSlide + 1
    },
    prevSlide() {
      const changedStep = this.currentSlide - 1
      this.currentSlide =
        changedStep < 0 ? this.length - 1 : this.currentSlide - 1
    },
    canBeWide(item) {
      return item.wide && this.mdAndUp
    },
  },
}
</script>
<style lang="scss">
.carousel-dots {
  width: calc(100% - 65px) !important;
}

.carousel-dot {
  width: 100%;
  height: 15px;
  padding: 3px;
  > div {
    width: 100%;
    height: 3px;
    margin-top: 3px;
    background-color: #ccc;
  }
}
</style>
