<template>
  <div class="carousel-over-content">
    <span v-if="item.title" class="d-block"> {{ item.title }}</span>
    <span v-if="item.subtitle" class="d-block text-h6 text-md-h5 mt-2">{{
      item.subtitle
    }}</span>
    <span v-if="item.description" class="d-block mt-2">{{
      item.description
    }}</span>
  </div>
</template>

<script>
export default {
  name: 'CarouselOverCardComponent',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss">
.carousel-over-content {
  position: absolute;
  left: 10px;
  bottom: 10px;
  max-width: 70%;
  margin: auto;
  z-index: 100;
}
</style>
