<template>
  <v-card class="h-full" color="grey lighten-3">
    <v-card-text class="d-flex h-full justify-center align-center">
      <v-row justify-sm="center">
        <v-col cols="8">
          <span v-if="item.title" class="d-block"> {{ item.title }}</span>
          <span
            class="d-block text-subtitile-1 text-md-h4 my-md-6 my-1 black--text"
            >{{ item.subtitle }}</span
          >
          <span class="d-block">{{ item.description }}</span>
          <v-btn
            @click="$emit('clicked:button')"
            color="black"
            outlined
            class="mt-1 mt-md-3 text-body-1 rounded-xl px-md-14"
            >{{ item.buttonText }}</v-btn
          >
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'CarouselCard',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isMobile() {
      return this.$vuetify.breakpoint.mdAndUp
    },
  },
}
</script>

<style></style>
