<template>
  <v-dialog max-width="600" v-model="show" origin="center center 0px">
    <v-card>
      <v-card-title class="bg-gradient pa-2">
        <v-spacer></v-spacer>
        <v-btn @click="show = false" text class="white--text"> close </v-btn>
      </v-card-title>

      <v-card-text class="text-center">
        <span class="text-h1 text-gradient">Coming Soon</span>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ComingSoonComponent',
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    show: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
}
</script>

<style></style>
