<template>
  <v-card
    @click="$emit('clicked:card')"
    :max-height="maxHeight"
    :max-width="maxWidth"
  >
    <v-img class="scale-effect" width="auto" contain :src="item.image_url">
      <div v-if="item.date" class="accent text-h6 white--text text-center">
        {{ item.date }}
      </div>
    </v-img>
    <v-card-text class="ml-n4">
      <span
        v-if="item.subtitle"
        class="d-block font-weight-regular text-h6 grey--text"
        >{{ item.subtitle }}</span
      >
      <span class="d-inline-block text-h5 black--text">{{ item.title }}</span>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'FairsCard',
  props: {
    item: {
      type: Object,
      required: true,
    },
    maxHeight: {
      type: [String, Number],
      default: undefined,
    },
    maxWidth: {
      type: [String, Number],
      default: undefined,
    },
  },
}
</script>
