<template>
  <div class="pt-6" style="border-top: 1px solid black">
    <v-card>
      <v-card-actions>
        <div
          style="width: 100%; cursor: pointer"
          class="d-flex justify-space-between"
          @click="isOpen = !isOpen"
        >
          <span>{{ title }}</span>
          <v-icon>{{ isOpen ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
        </div>
      </v-card-actions>
      <v-expand-transition>
        <div v-show="isOpen" style="position: relative">
          <v-card-text class="py-0 px-1">
            <v-text-field
              v-model="search"
              class="rounded-0"
              dense
              outlined
              color="primary"
              append-icon="mdi-magnify"
              :label="label"
            ></v-text-field>
            <div class="mt-n5">
              <v-checkbox
                v-for="(item, i) in findItem"
                :key="i"
                v-model="selectedItem"
                class="mb-n3"
                multiple
                :label="item.text"
                :value="item.id"
              ></v-checkbox>
              <span v-if="findItem.length === 0">No result</span>
            </div>
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'FilterCollapseCardComponent',
  props: {
    title: {
      type: String,
      default: 'search box',
    },
    label: {
      type: String,
      default: 'search',
    },
    items: {
      type: Array,
      default: () => {
        return []
      },
    },
    value: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
  data() {
    return {
      search: '',
      isOpen: false,
    }
  },
  computed: {
    selectedItem: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
    findItem() {
      return this.search
        ? this.items.filter((item) => {
            return item.text.toLowerCase().includes(this.search.toLowerCase())
          })
        : this.items
    },
  },
}
</script>

<style scoped>
</style>