<template>
  <div class="d-flex align-center">
    <div class="d-flex align-center flex-grow-1">
      <div v-if="item.avatar_url">
        <v-img
          :width="imaSize"
          :height="imaSize"
          :class="{ 'rounded-circle': imgCircleable }"
          :src="item.avatar_url"
        ></v-img>
      </div>
      <div :class="{ 'ml-2': item.avatar_url }">
        <span :style="{ fontSize: titleSize }" class="d-block black--text">{{
          item.title
        }}</span>
        <span :style="{ fontSize: subtitleSize }">{{ item.subtitle }}</span>
      </div>
    </div>
    <div>
      <v-btn
        :larg="larg"
        :x-large="!larg"
        black
        outlined
        :class="{ 'px-16': !larg, 'px-8': larg }"
        class="rounded-xl ml-3"
        >follow</v-btn
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'FollowCard',
  props: {
    larg: {
      type: Boolean,
      default: true,
    },
    item: {
      type: Object,
      required: true,
    },
    mx: {
      type: String,
      default: '10px',
    },
    subtitleSize: {
      type: String,
      default: '1rem',
    },
    titleSize: {
      type: String,
      default: '1.25rem',
    },
    imgCircleable: {
      type: Boolean,
      default: true,
    },
    imaSize: {
      type: String,
      default: '50',
    },
  },
}
</script>
