<template>
  <div class="h-full d-flex justify-center flex-column align-center">
    <div class="text-center">
      <h3 class="text-h4 mb-7">{{ item.title }}</h3>
      <div class="text-body-2 font-weight-light mb-3">{{ item.subTitle }}</div>
      <h5 v-if="item.description" class="text-h6 mb-2">
        {{ item.description }}
      </h5>
      <div class="text-body-2">
        <span v-if="item.place">{{ item.place }}, </span>
        <span> {{ item.started_at }} , {{ item.due_at }}</span>
      </div>
    </div>
    <v-btn
      large
      color="black"
      outlined
      class="mt-5 px-10 rounded-xl"
      @click="$emit('click:follow')"
    >
      Follow
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'FollowCarouselCardComponent',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style></style>
