<template>
  <div class="pt-12">
    <v-row>
      <v-col cols="12" md="6" lg="3" v-for="(item, i) in items" :key="i">
        <div class="text-gradient text-h6">{{ item.title }}</div>
        <ul class="pa-0 mt-3" style="list-style: none">
          <li class="mb-3" v-for="(link, j) in item.links" :key="j">
            <NuxtLink class="text-gradient-hover" :to="link.to">
              {{ link.name }}</NuxtLink
            >
          </li>
        </ul>
      </v-col>
      <v-col cols="12" md="6" lg="3">
        <div class="mb-5" v-for="(item, i) in lastItems" :key="i">
          <div class="text-gradient text-h6">{{ item.title }}</div>
          <ul class="pa-0 mt-3" style="list-style: none">
            <li class="mb-3" v-for="(link, j) in item.links" :key="j">
              <NuxtLink class="text-gradient-hover" :to="link.to">
                {{ link.name }}</NuxtLink
              >
            </li>
          </ul>
        </div>
      </v-col>
      <v-col cols="12" class="">
        <v-divider></v-divider>
        <div class="d-flex align-center py-3">
          <div class="mr-3"><v-img width="40px" src="/logo.png" /></div>
          <div v-if="$vuetify.breakpoint.smAndUp" class="footer-bottom-links">
            <span>@{{ new Date().getFullYear() }} Art Rate</span>
            <NuxtLink
              v-for="(link, i) in bottomItems"
              :key="i"
              :to="link.to"
              class="ml-2 text-gradient-hover"
            >
              {{ link.name }}</NuxtLink
            >
          </div>
          <div class="ml-auto">
            <Socials />
          </div>
        </div>
        <template v-if="!$vuetify.breakpoint.smAndUp">
          <v-divider></v-divider>
          <div class="py-3 footer-bottom-links">
            <span>@{{ new Date().getFullYear() }} Art Rate</span>
            <NuxtLink
              v-for="(link, i) in bottomItems"
              :key="i"
              :to="link.to"
              class="ml-2 grey-text"
            >
              {{ link.name }}</NuxtLink
            >
          </div>
        </template>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'FooterComponent',
  data() {
    return {
      items: [
        {
          title: 'About us',
          links: [
            { name: 'About', to: { name: '' } },
            { name: 'Jobs', to: { name: '' } },
            { name: 'Press', to: { name: '' } },
            { name: 'Contact', to: { name: '' } },
          ],
        },
        {
          title: 'Resources',
          links: [
            { name: 'Open Source', to: { name: '' } },
            { name: 'Blog', to: { name: '' } },
            { name: 'The Art Genome Project', to: { name: '' } },
            { name: 'Education', to: { name: '' } },
          ],
        },
        {
          title: 'Partnerships',
          links: [
            { name: 'Art Rate for Galleries', to: { name: '' } },
            { name: 'Art Rate for Museums', to: { name: '' } },
            { name: 'Art Rate for Auctions', to: { name: '' } },
            { name: 'Art Rate for Fairs', to: { name: '' } },
          ],
        },
      ],
      lastItems: [
        {
          title: 'Support',
          links: [
            { name: 'Visit our Help Center', to: { name: '' } },
            { name: 'Buying on Art Rate', to: { name: '' } },
          ],
        },
        {
          title: 'Get the App',
          links: [
            { name: 'iOS App', to: { name: '' } },
            { name: 'Android App', to: { name: '' } },
          ],
        },
      ],
      bottomItems: [
        {
          name: 'Terms of Use',
          to: { name: 'sdsd' },
        },
        {
          name: 'Privacy Policy',
          to: { name: 'sdsd' },
        },
        {
          name: 'Security',
          to: { name: 'sdsd' },
        },
        {
          name: 'Conditions of Sale',
          to: { name: 'sdsd' },
        },
        {
          name: 'ACA Seller’s Agreement',
          to: { name: 'sdsd' },
        },
      ],
    }
  },
}
</script>
<style lang="scss">
#footer {
  .nuxt-link-active {
    color: inherit;
    text-decoration: none;
  }
  li a:hover {
    transition: 0.3s;
    color: var(--v-primary-base);
  }
  .footer-bottom-links {
    a {
      opacity: 0.9;
    }
  }
}
</style>
