<template>
  <v-card>
    <v-card-text>
      <FollowCard :item="item" :mx="'70px'" />
      <v-img
        class="mt-5 scale-effect"
        :max-width="maxWidth"
        :max-height="maxHeight"
        :src="item.image_url"
      ></v-img>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'GalleryCard',
  props: {
    item: {
      type: Object,
      required: true,
    },
    maxHeight: {
      type: [String, Number],
      default: undefined,
    },
    maxWidth: {
      type: [String, Number],
      default: undefined,
    },
  },
}
</script>

<style></style>
