<template>
  <v-overlay
    v-if="overlay"
    class="text-center loading-overlay"
    color="white"
    opacity="1"
    z-index="9999999"
  >
    <img src="@/assets/images/loading01.gif" />
  </v-overlay>
</template>

<script>
export default {
  name: 'LoadingPage',
  data() {
    return {
      cont: 0,
      interval: {},
      value: 0,
      overlay: true,
      title: '',
    }
  },
  mounted() {
    this.loading()
  },
  methods: {
    loading() {
      setTimeout(() => {
        this.overlay = false
      }, 5000)
    },
  },
}
</script>
