<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <template #activator="{ on, attrs }">
      <v-btn
        dense
        color="white"
        :class="btnClass"
        icon
        dark
        v-bind="attrs"
        v-on="on"
      >
        <v-icon large>mdi-menu</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-toolbar dark class="bg-gradient white--text">
        <v-btn icon dark @click="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>menu</v-toolbar-title>
      </v-toolbar>
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          @click="clickItem(item)"
        >
          {{ item.name }}
        </v-list-item>
      </v-list>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: 'MenuComponent',
  data() {
    return {
      dialog: false,
    }
  },
  props: {
    items: {
      type: Array,
      required: true,
      // validator: (value) => {
      //   Array.isArray(value) &&
      //     value.forEach(
      //       (item) =>
      //         Object.hasOwnProperty.call(item, 'name') &&
      //         Object.hasOwnProperty.call(item, 'to')
      //     )
      // },
    },
    btnClass: {
      type: String,
      default: '',
    },
  },
  methods: {
    clickItem(item) {
      this.$emit('click:item', item)
      this.dialog = false
    },
  },
}
</script>
