<template>
  <v-row class="mobile-section" justify-md="space-between">
    <v-col class="text-center mx-auto my-auto pa-0" cols="12" md="4">
      <span class="text-h4 black--text">
        Get More from Art Rate <br />
        on the App
      </span>
      <div class="mt-3 text-center">
        <AndroidIcon
          style="height: 39px"
          class="d-inline"
          @click="$emit('clicked:android')"
        />
        <IosIcon
          style="height: 40px; width: 120px"
          class="d-inline"
          @click="$emit('clicked:ios')"
        />
      </div>
    </v-col>
    <v-col cols="12" md="8" class="pa-0">
      <img class="h-full w-full" src="@/assets/images/app.png" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'MobileApplicationComponent',
}
</script>

<style>
.mobile-section {
  border-top: 1px solid var(--v-accent-base);
}
</style>
