<template>
  <div class="header-nav w-full d-flex align-center pt-1 pb-2 px-3">
    <div @click="gotoHomePage">
      <v-img
        class="logo cursor-pointer"
        width="46"
        contain
        src="/logo-white.png"
      ></v-img>
    </div>

    <div class="menu-wrap flex-grow-1 pl-2">
      <div class="menu-top">
        <div
          class="d-flex justify-end justify-sm-space-between align-center flex-wrap"
        >
          <div class="mt-n1" v-if="smAndUp">
            <span
              v-for="(item, i) in topMenu"
              :key="i"
              class="menu-item text-gradient-hover px-1 font-weight-medium cursor-pointer"
              @click="clickedMenu(item)"
            >
              {{ item.name }}
            </span>
          </div>

          <div class="mt-2 mt-sm-0">
            <MenuDialog
              v-if="!smAndUp"
              btn-class="mx-3"
              :items="[...monileItems, ...topMenu]"
              @click:item="clickedMenu"
            />
            <UserMenu />
            <button class="get-started-btn">GET STARTED</button>
          </div>
        </div>
      </div>
      <div class="menu-main mt-1">
        <div v-if="smAndUp">
          <span
            v-for="(item, i) in monileItems"
            :key="i"
            class="menu-item text-gradient-hover text-gradient-hover font-weight-medium px-1 cursor-pointer"
            @click="clickedMenu(item)"
          >
            {{ item.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'NavigationComponent',
  data() {
    return {
      topMenu: [
        { name: 'Buy', to: '', isSoon: true },
        { name: 'Sell', to: '', isSoon: true },
        { name: 'Live Market', to: '', isSoon: true },
      ],
      mainMenuLeft: [
        { name: 'Artists', to: { name: 'artists' }, isSoon: true },
        { name: 'Artworks', to: { name: 'artworks' }, isSoon: true },
        { name: 'Galleries', to: { name: 'galleries' }, isSoon: true },
        { name: 'Fairs', to: { name: 'art-fairs' }, isSoon: true },
      ],
      mainMenuRight: [
        { name: 'Pitch Deck', to: { name: 'pitch-deck' }, isSoon: false },
      ],
      monileItems: [
        { name: 'Artists', to: { name: 'artists' }, isSoon: true },
        { name: 'Artworks', to: { name: 'artworks' }, isSoon: true },
        { name: 'Galleries', to: { name: 'galleries' }, isSoon: true },
        { name: 'Fairs', to: { name: 'art-fairs' }, isSoon: true },
        { name: 'NFTs', to: { name: 'nfts' }, isSoon: true },
        {
          name: 'Pitch Deck',
          isSoon: false,
          link:
            'https://www.canva.com/design/DAEqj1_B9jE/2r1KsvtYZdzO3ayUhe56vw/view?website#4:art-rate',
        },
      ],
      search: '',
    }
  },
  computed: {
    smAndDown() {
      return this.$vuetify.breakpoint.smAndDown
    },
    smAndUp() {
      return this.$vuetify.breakpoint.smAndUp
    },
    mdAndUp() {
      return this.$vuetify.breakpoint.mdAndUp
    },
    smOnly() {
      return this.$vuetify.breakpoint.smOnly
    },
    xsOnly() {
      return this.$vuetify.breakpoint.xsOnly
    },
  },
  methods: {
    gotoHomePage() {
      this.$router.push({ name: 'index' })
    },
    comingsoon() {
      this.$emit('comingsoon')
    },
    clickedMenu(item) {
      if (item.isSoon) {
        this.comingsoon()
      } else if (item.link) {
        window.open(item.link, '_blank').focus()
      } else {
        this.$router.push(item.to)
      }
    },
  },
  /**
   *
   */
}
</script>

<style lang="scss" scoped>
.header-nav {
  position: relative;

  .menu {
    &-top {
    }
    &-main {
      position: relative;
    }
    &-item {
      color: white;
      text-decoration: none;
      transition: 0.3s;
    }
  }
  .header-logo {
    width: 100px;
    .logo-wrap {
      position: absolute;
      top: -25px;
    }
  }
  .get-started-btn {
    border: none;
    padding: 4px 6px;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 10em;
      transform: translateX(-50%) translateY(-50%);
      width: 105%;
      height: 105%;
      content: '';
      z-index: -2;
      background-size: 400% 400%;
      background: var(--v-primary-base)
        linear-gradient(
          60deg,
          #f79533,
          #f37055,
          #ef4e7b,
          #a166ab,
          #5073b8,
          #1098ad,
          #07b39b,
          #6fba82
        );
    }
    &:before {
      filter: blur(7px);
      transition: all 0.25s ease;
      animation: pulse 10s infinite ease;
    }
    &:after {
      filter: blur(0.3px);
    }
    &:hover {
      &:before {
        width: 115%;
        height: 115%;
      }
    }
  }
}
</style>
