<template>
  <div>
    <v-card
      @click="$emit('clicked:card')"
      :max-height="maxHeight"
      :max-width="maxWidth"
    >
      <v-img class="scale-effect" contain :src="item.image_url"> </v-img>
      <v-card-text class="ml-n4 mt-n3">
        <span class="d-block text-h6">{{ item.subject }}</span>
        <span class="d-block text-h5 black--text" style="word-break: break-word"
          >{{ item.title }}
        </span>
        <span class="d-block text-body-1 mt-2">By {{ item.writer }} </span>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'NewsCard',
  props: {
    item: {
      type: Object,
      required: true,
    },
    maxHeight: {
      type: [String, Number],
      default: undefined,
    },
    maxWidth: {
      type: [String, Number],
      default: undefined,
    },
  },
}
</script>

<style></style>
