<template>
  <v-card class="h-full" color="grey lighten-3">
    <v-card-text class="d-flex h-full justify-center align-center pa-2">
      <v-row justify-sm="center">
        <v-col cols="12" md="8">
          <span
            v-if="item.title"
            class="d-inline-block black--text font-weight-regular"
          >
            {{ item.title }}</span
          >
          <span
            v-if="item.subtitle"
            class="d-block text-subtitle-1 text-md-h4 my-md-6 my-1 black--text"
            >{{ item.subtitle }}</span
          >
          <span
            v-if="item.description"
            class="d-inline-block text-h6 font-weight-medium"
            >{{ item.description }}</span
          >
          <v-btn
            v-if="item.buttonText"
            @click="$emit('clicked:button')"
            color="black"
            outlined
            class="mt-1 mt-md-5 text-body-1 rounded-xl py-md-6 px-md-14"
            >{{ item.buttonText }}</v-btn
          >
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'OptionalCarouselCardComponent',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isMobile() {
      return this.$vuetify.breakpoint.mdAndUp
    },
  },
}
</script>

<style></style>
