<template>
  <v-hover v-slot="{ hover }">
    <v-card @click="$emit('clicked:card')" max-width="250">
      <v-img max-height="300" class="scale-effect" contain :src="item.image_url">
        <v-fade-transition>
          <v-row
            v-if="hover"
            justify="end"
            align="end"
            class="fill-height mr-5"
          >
            <v-btn icon @click.stop="$emit('clicked:heart')">
              <v-icon color="primary">mdi-heart-outline</v-icon></v-btn
            >
          </v-row>
        </v-fade-transition>
        <!-- mobile -->
        <v-row
          justify="end"
          align="end"
          class="fill-height mr-5 d-flex d-md-none"
        >
          <v-btn icon @click.stop="$emit('clicked:heart')">
            <v-icon color="primary">mdi-heart-outline</v-icon></v-btn
          >
        </v-row>
        <!--  -->
      </v-img>
      <v-card-text class="ml-n4">
        <span class="d-block text-h5">{{ item.artist }}</span>
        <span class="d-block grey--text">{{ item.name }} </span>
        <span class="d-block text-h6">{{ item.price }} </span>
      </v-card-text>
    </v-card>
  </v-hover>
</template>
<script>
export default {
  name: 'ProductCard',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped></style>
