<template>
  <v-parallax height="250" :src="require('~/assets/images/art-1.jpg')">
    <v-row align="center" justify="center">
      <v-col class="text-center" cols="8">
        <h1 class="text-h4 font-weight-light mb-4">
          Search by artist, gallery, fairs, etc.
        </h1>
        <div class="d-flex align-center">
          <v-text-field
            v-model="search"
            class="white--text font-weigh-bold rounded-0"
            color="white"
            dense
            solo
            hide-details
            tile
            background-color="rgba(255,255,255,0.85)"
          ></v-text-field>
          <v-btn color="primary" tile depressed>Search</v-btn>
        </div>
      </v-col>
    </v-row>
  </v-parallax>
</template>

<script>
export default {
  name: 'SearchSectionComponent',
  data() {
    return {
      search: '',
    }
  },
}
</script>

<style></style>
