<template>
  <v-card @click="$emit('clicked:card')" max-width="400" max-height="400">
    <v-img class="scale-effect" max-height="200" :src="item.image_url">
      <div class="text-caption font-weight-bold white--text accent white--rext text-center">
        {{ item.date }}
      </div>
    </v-img>
    <v-card-text class="ml-n4">
      <span class="d-block black--text text-h5">{{ item.title }}</span>
      <span class="d-block grey--text text-h6">{{ item.subtitle }} </span>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: 'ProductCard',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>
</style>
