<template>
  <v-dialog
    v-model="show"
    transition="dialog-bottom-transition"
    class="sign-in-up"
    max-width="500"
    :fullscreen="$vuetify.breakpoint.xsOnly"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="headline text-subtitle-1 pa-0">
        <v-tabs v-model="tab" color="black" style="width: auto">
          <v-tab tabindex="2" class="text-gradient"> Sign In </v-tab>
          <v-tab tabindex="1" class="text-gradient"> Sign Up </v-tab>
        </v-tabs>
        <v-btn class="mx-2 text-gradient" icon dark @click="show = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-tabs-items v-model="tab">
          <v-tab-item tabindex="1">
            <div class="mt-5">
              <span>EMAIL</span>
              <v-text-field
                v-model="payload.email"
                type="email"
                dense
                outlined
                class="rounded-0"
                placeholder="Enter your email address"
              >
              </v-text-field>
            </div>
            <div>
              <span>PASSWORD</span>
              <v-text-field
                v-model="payload.password"
                dense
                outlined
                :append-icon="!password ? 'mdi-eye-off' : 'mdi-eye'"
                :type="password ? 'password' : 'text'"
                class="rounded-0"
                placeholder="Enter your Password"
                @click:append="password = !password"
              >
              </v-text-field>
              <v-alert type="error" dense :value="dontHaveAccount">
                Don’t have an account. Please create an account.
              </v-alert>
              <span
                role="button"
                class="d-block text-decoration-underline text-right"
                >Forgot Password?</span
              >
            </div>

            <v-btn
              large
              color="black"
              block
              dense
              class="white--text mt-5 rounded-xl"
              @click="signInAction"
              >Log in</v-btn
            >
            <span class="d-block text-center mt-5"
              >Log in using
              <span role="button" class="text-decoration-underline">Apple</span>
              or
              <span role="button" class="text-decoration-underline"
                >Facebook</span
              >
              . Don’t have an account?
            </span>
            <span
              role="button"
              class="d-block text-center text-decoration-underline cursor-pointer"
              @click="tab = 1"
              >Sign up</span
            >
          </v-tab-item>
          <v-tab-item tabindex="1">
            <div class="mt-5">
              <span>NAME</span>
              <v-text-field
                v-model="payload.name"
                outlined
                dense
                class="rounded-0"
                placeholder="Enter your name"
              >
              </v-text-field>
            </div>
            <div>
              <span>EMAIL</span>
              <v-text-field
                v-model="payload.email"
                type="email"
                outlined
                dense
                class="rounded-0"
                placeholder="Enter your email address"
              >
              </v-text-field>
            </div>
            <div>
              <span>PASSWORD</span>
              <v-text-field
                v-model="payload.password"
                outlined
                dense
                :append-icon="!password ? 'mdi-eye-off' : 'mdi-eye'"
                :type="password ? 'password' : 'text'"
                class="rounded-0"
                placeholder="Enter your Password"
                @click:append="password = !password"
              >
              </v-text-field>

              <div class="d-flex">
                <v-checkbox v-model="agree" class="mt-n1"></v-checkbox>
                <span role="button" class="d-block"
                  >I agree to the
                  <span role="button" class="text-decoration-underline">
                    Terms of Use</span
                  >,<span role="button" class="text-decoration-underline"
                    >Privacy Policy</span
                  >,and<span role="button" class="text-decoration-underline">
                    Conditions of Sale</span
                  >
                  and to receiving emails from Artsy.
                </span>
              </div>
            </div>
            <v-btn
              large
              color="black"
              block
              class="white--text mt-5 rounded-xl"
              @click="signUpAction"
              >Sign up</v-btn
            >
            <span class="d-block text-center mt-5"
              >Sign up using
              <span role="button" class="text-decoration-underline">Apple</span>
              or
              <span role="button" class="text-decoration-underline"
                >Facebook</span
              >
            </span>
            <span class="d-block text-center mt-1"
              >Already have an account?
              <span role="button" class="text-decoration-underline"
                >Log in</span
              >
            </span>
            <span class="d-block text-center mt-1"
              >This site is protected by reCAPTCHA and the Google</span
            >
            <span class="d-block text-center">
              <span role="button" class="text-decoration-underline"
                >Privacy Policy</span
              >
              and
              <span role="button" class="text-decoration-underline"
                >Terms of Service</span
              >
              apply.
            </span>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'SignInUpComponent',
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      payload: {},
      password: true,
      dontHaveAccount: false,
      tab: null,
      localStorage: null,
      agree: false,
    }
  },
  computed: {
    show: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.setLocalStorage()
      setTimeout(() => {
        this.show = !this.checkSignIn()
      }, 1000)
    })
  },
  methods: {
    signInAction() {
      delete this.payload.password
      const user = this.localStorage.getItem('user')
      if (user) {
        this.localStorage.setItem('is_login', 1)
        this.show = false
      } else {
        this.dontHaveAccount = true
      }
    },
    signUpAction() {
      delete this.payload.password
      this.localStorage.setItem('user', JSON.stringify(this.payload))
      this.localStorage.setItem('user_email', this.payload.email)
      this.localStorage.setItem('is_login', 1)
      this.show = false
    },
    checkSignIn() {
      return !!parseInt(this.localStorage.getItem('is_login'))
    },
    setLocalStorage() {
      this.localStorage = window.localStorage
    },
  },
}
</script>

<style></style>
