<template>
  <client-only>
    <div class="slide-items mb-8">
      <VueSlickCarousel ref="carousel" v-bind="settings">
        <template v-for="(item, index) in items">
          <slot :item="item" :index="index"> </slot>
        </template>
        <template #customPaging> <div></div> </template>
      </VueSlickCarousel>
      <div
        v-if="$vuetify.breakpoint.smAndUp && length > 5"
        class="slick-custom-arrows"
      >
        <v-icon @click="prevAction">mdi-chevron-left</v-icon>
        <v-icon @click="nextAction">mdi-chevron-right</v-icon>
      </div>
    </div>
  </client-only>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel'

export default {
  name: 'SlideItemsComponent',
  components: {
    VueSlickCarousel,
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
    infinitable: {
      type: Boolean,
      required: false,
    },
    dotsable: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {}
  },
  computed: {
    breakpoints() {
      return this.$vuetify?.breakpoint?.thresholds || {}
    },
    length() {
      return this.items?.length || 0
    },
    settings() {
      return {
        arrows: false,
        dots: this.dotsable,
        infinite: this.infinitable,
        // speed: 500,
        // slidesToShow: 4,
        slidesToScroll: parseInt(this.length / this.length < 30 ? 4 : 9),
        variableWidth: true,
        adaptiveHeight: false,
        focusOnSelect: false,
        initialSlide: 0,
        responsive: [
          // {
          //   breakpoint: this.breakpoints.lg,
          //   settings: {
          //     slidesToShow: 5,
          //     slidesToScroll: 5,
          //     infinite: true,
          //     dots: true,
          //   },
          // },
          // {
          //   breakpoint: this.breakpoints.md,
          //   settings: {
          //     slidesToShow: 3,
          //     slidesToScroll: 3,
          //     infinite: true,
          //     dots: true,
          //   },
          // },
          {
            breakpoint: this.breakpoints.sm,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              initialSlide: 2,
              infinite: false,
              dots: true,
            },
          },
          {
            breakpoint: this.breakpoints.xs,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              infinite: true,
              dots: false,
            },
          },
        ],
      }
    },
    carouselRef() {
      return this.$refs.carousel
    },
    showIcons() {
      return this.$vuetify.breakpoint.smAndUp
    },
  },
  methods: {
    prevAction() {
      this.carouselRef.prev()
    },
    nextAction() {
      this.carouselRef.next()
    },
  },
}
</script>
<style lang="scss">
@import 'vue-slick-carousel/dist/vue-slick-carousel.css';
@import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css';
.slide-items {
  position: relative;
  .slick {
    &-track {
      display: flex !important;
      align-items: flex-end;
    }
    &-slide {
      margin: 2px 10px;
    }
    &-dots {
      left: 0;
      // bottom: -18px;
      width: calc(100% - 50px) !important;
      padding: 0 !important;
      display: flex !important;
      li {
        // max-width: 20px !important;
        flex-grow: 1 !important;
        height: 15px;
        padding: 3px;
        margin: 0 !important;
        > div {
          width: 100%;
          height: 3px;
          margin-top: 3px;
          background-color: #ccc;
        }
      }

      .slick-active > div {
        background-color: var(--v-primary-base) !important;
        background-image: linear-gradient(
          60deg,
          #f79533,
          #f37055,
          #ef4e7b,
          #a166ab,
          #5073b8,
          #1098ad,
          #07b39b,
          #6fba82
        );
      }
    }

    &-custom-arrows {
      position: absolute;
      bottom: -29px;
      right: 0;
    }
  }
  .v-image__image {
    background-position: bottom center !important;
  }
}
</style>
