<template>
  <div>
    <v-btn
      v-for="(social, i) in socials"
      :key="i"
      class="ml-2"
      text
      icon
      :small="small"
      color="accent"
      :to="social.link"
    >
      <v-icon>{{ social.icon }}</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'SocialsComponent',
  props: {
    small: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      socials: [
        { icon: 'mdi-wechat', link: 'https://www.wechat.com/' },
        { icon: 'mdi-twitter', link: 'https://www.twitter.com/' },
        { icon: 'mdi-facebook', link: 'https://www.facebook.com/' },
        { icon: 'mdi-instagram', link: 'https://www.instagram.com/' },
      ],
    }
  },
}
</script>

<style></style>
