<template>
  <v-menu v-if="isLogin" bottom left>
    <template v-slot:activator="{ on, attrs }">
      <div
        class="mr-2 cursor-pointer d-inline text-gradient-hover white--text"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon color="white">mdi-account</v-icon>
        <span style="vertical-align: text-top">{{ user.name }}</span>
      </div>
    </template>

    <v-list dense>
      <v-list-item dense>
        <v-list-item-title>{{ user.name }}</v-list-item-title>
      </v-list-item>
      <v-list-item dense @click="signout">
        <v-list-item-title class="error--text">Sign out</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: 'UserMenuComponent',
  data() {
    return {
      user: { name: 'User' },
      isLogin: false,
    }
  },
  mounted() {
    this.$nextTick(() => {
      const interval = setInterval(() => {
        this.handleParams()
        if (this.isLogin) {
          clearInterval(interval)
        }
      }, 500)
    })
  },
  methods: {
    handleParams() {
      this.isLogin = this.checkSignIn()
      if (this.isLogin) {
        this.setUser()
      }
    },
    signout() {
      window.localStorage.setItem('is_login', 0)
      this.isLogin = false
    },
    setUser() {
      this.user = JSON.parse(window.localStorage.getItem('user'))
    },
    checkSignIn() {
      return !!parseInt(window.localStorage.getItem('is_login'))
    },
  },
}
</script>

<style></style>
