<template>
  <v-app :style="styleApp">
    <header id="header" class="w-full black" :style="headerStyle">
      <Navigation @comingsoon="showComingSoon = true" />
    </header>
    <v-main app style="min-height: 400px">
      <v-container fluid class="px-sm-7 h-full">
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer id="footer" color="transparent">
      <v-divider class="my-0"></v-divider>
      <Footer />
    </v-footer>
    <LoadingCard />
    <ComingSoon v-model="showComingSoon" />
    <SignInUp v-model="showSingInUp" />
  </v-app>
</template>
<script>
import Navigation from '@/components/Navigation'
import Footer from '@/components/Footer'
import LoadingCard from '~/components/LoadingCard.vue'
export default {
  name: 'DefaultLayout',
  components: { Footer, Navigation, LoadingCard },
  data() {
    return {
      showComingSoon: false,
      showSingInUp: true,
    }
  },
  computed: {
    styleApp() {
      const marginTop = this.$vuetify.breakpoint.xsOnly ? '60px' : '65px'

      return { marginTop }
    },
    headerStyle() {
      return this.$vuetify.breakpoint.smAndDown
        ? {}
        : {
            backgroundImage: `url(${require('~/assets/images/header-bg-md.gif')}`,
          }
    },
  },
}
</script>

<style lang="scss">
#header {
  // border-bottom: 1px solid var(--v-accent-base) !important;
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: 200;
  .v-toolbar__content {
    padding: 0 !important;
  }
}
</style>
