<template>
  <div>
    <Carousel
      class="mt-n3 mx-n3 mx-sm-n7"
      :items="carouselItems"
      :reversable="$vuetify.breakpoint.mdAndUp"
      height="500"
    >
      <template #content="{ item, wide }">
        <CarouselOverCard v-if="wide" :item="item" class="white--text" />
        <OptionalCarouselCard v-else :item="item" />
      </template>
    </Carousel>

    <!-- <div class="py-10"></div>
    <SearchSection />  -->
    <div class="py-10"></div>

    <section>
      <div class="mb-5">
        <span class="text-h5">Featured</span>
      </div>
      <div class="d-flex flex-wrap">
        <div
          v-for="(item, i) in featuredFairItems"
          :key="i"
          class="col-12 col-sm-6 pa-0 px-1"
        >
          <FairsCard :item="item" />
        </div>
      </div>
    </section>
    <div class="py-10"></div>
    <section>
      <div class="d-flex justify-space-between mb-5">
        <div>
          <span class="text-h5">Market News</span>
        </div>
        <div>
          <span class="text-gradient cursor-pointer" 
            >Explore Editorial
          </span>
        </div>
      </div>

      <v-row>
        <v-col cols="12" sm="6"
          ><NewsCard :item="bigNewsItem" class="mb-8 mb-sm-0"
        /></v-col>
        <v-col cols="12" sm="6">
          <v-row>
            <v-col cols="12" md="6" v-for="(item, i) in newsItems" :key="i">
              <NewsCard :item="item" class="mb-8 mb-sm-0" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </section>
    <div class="py-10"></div>
    <section>
      <div class="d-flex justify-space-between">
        <div>
          <v-badge color="accent" offset-y="10" :content="auctionItems.length">
            <span class="text-h5">Auction</span>
          </v-badge>
        </div>
        <div>
          <span class="text-gradient cursor-pointer" 
            >View All Auctions
          </span>
        </div>
      </div>

      <SlideItems :items="auctionItems" infinitable dotsable>
        <template #default="{ item }">
          <ProductCard :item="item" />
        </template>
      </SlideItems>
    </section>

    <div class="py-10"></div>
    <section>
      <div class="d-flex justify-space-between mb-5">
        <div>
          <v-badge color="accent" offset-y="10" :content="galleryItems.length">
            <span class="text-h5">Featured Galleries</span>
          </v-badge>
        </div>
        <div>
          <span class="text-gradient cursor-pointer" 
            >View All Galleries
          </span>
        </div>
      </div>

      <SlideItems class="show-carousel" :items="galleryItems" dotsable>
        <template #default="{ item }">
          <GalleryCard :item="item" max-width="450" max-height="300" />
        </template>
      </SlideItems>
    </section>

    <div class="py-10"></div>
    <section>
      <div class="d-flex justify-space-between mb-5">
        <div>
          <span class="text-h5">Trending Artists on Art Rate</span>
        </div>
        <div>
          <span class="text-gradient cursor-pointer">View All Artists </span>
        </div>
      </div>

      <SlideItems class="show-carousel" :items="artistItems" dotsable>
        <template #default="{ item }">
          <ArtistCard :item="item" max-width="450" max-height="300" />
        </template>
      </SlideItems>
    </section>
    <div class="py-10"></div>
    <section id="applications-section" style="margin-bottom: -18px">
      <MobileApplication />
    </section>
  </div>
</template>

<script>
import {
  auctions,
  featuredFairs,
  currentFairs,
  bigNews,
  news,
  optionalCarousels,
  shows,
  galleries,
  artists,
} from '~/mocks/sectionOfHome'
import ProductCard from '@/components/ProductCard'
export default {
  name: 'IndexPage',
  components: { ProductCard },
  data() {
    return {
      carouselItems: optionalCarousels,
      auctionItems: auctions,
      featuredFairItems: featuredFairs,
      currentFairItems: currentFairs,
      newsItems: news,
      bigNewsItem: bigNews,
      showItems: shows,
      galleryItems: galleries,
      artistItems: artists,
    }
  },
  methods: {
    getTimeMMDD(time) {
      const arr = time.split(' ')
      return arr[1] + ' ' + arr[2]
    },
  },
}
</script>
<style lang="scss">
.show-carousel .slick-track {
  align-items: flex-start !important;
}
</style>
