<template>
  <div class="w-full h-full">
    <iframe
      src="https://www.canva.com/design/DAEqj1_B9jE/2r1KsvtYZdzO3ayUhe56vw/view"
      title="description"
      class="w-full h-full"
    ></iframe>
  </div>
</template>

<script>
export default {
  name: 'PitchDeckPage',
}
</script>
